body {
  background-color: black;
  overflow: hidden;
}
#sumbit{
  margin-top: 10px;
  border: 10px solid whitesmoke;
  height: 150px;
  width: 300px;
  background-color: navy;
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: Papyrus;
  padding-top: 60px;
  border-radius: 250px;
  margin-left: 330px;
}
#sumbit:hover{
  background-color: darkmagenta;
}
#width{
  font-family: system-ui;
  margin-left: 25px;
  margin-top: 20px;
  width: 250px;
  height: 60px;
  border-radius: 15px;
  font-size: 20px;

}
#length{
    font-family: system-ui;

    margin-top: 20px;

  margin-left: 430px;
  width: 250px;
  height: 60px;
  border-radius: 15px;
  font-size: 20px;
}
#load{
  background-color: black;
   width: 1000px;
   margin-top: 200px;

}
#words{
  margin-left: 30px;
  color: white;
  font-size: 100px;
  margin-bottom: 100px;
  padding-bottom: 1000px;
}
#tet{
  object-fit: cover;
  margin: -20px;
}
#title{
  margin: auto;  
  margin-top: 1%;
  width: 1000px;
  background-color: black;
}
#center{
  width: 100px;
  height: 100px;
  margin: auto;
}
#grid{
  position: absolute;
  left: 0;
  z-index: 0; 
  bottom: 0;
}
#block{
  position: absolute;
  display: inline-block;
  background-color: whitesmoke;
  border: 2px solid grey;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 18px;
}
#line{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#wrapper{
  position: relative;
    width:960px;
    height: 800px;
    background-color: blueviolet;
    margin:  auto;
}
#sss{
  color:white;
  font-size:50px; 
  position: absolute;
  top:0px
}
#ssss{
  color:white;
  font-size:50px; 
}
#woo{
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
